.container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  width: 100%;
  background-color: #F2EEDF;
}

.titleSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.titleSection h1, .titleSection h2{
  margin: 10px 30%;
  margin-right: 0;
}

.titleSection h1 {
  font-size: 60pt;
}
.titleSection h2 {
  font-size: 25pt;
  color: #8D7341;
}

.buttonSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.startButton {
  background-color: #D4AF77;
  color: #F2EEDF;
  border: none;
  font-size: 25pt;
  font-family: Roboto;
  font-weight: 300;
 
  max-width: 400px;
  margin-top: 15px;
  margin-right: 20%;
  padding: 24px 100px;

  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}
.startButton:hover {
  cursor: pointer;
  background-color: #e9cda3;
  color: #8D7341;
}

@media screen and (max-width: 1200px){
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .startButton, .titleSection h1, .titleSection h2 {
    margin: 20px 0;
    text-align: center;
  }
  .titleSection {
    width: 80%;
  }
  .startButton {
    width: 80%;
    padding: 10px 20px;
    font-size: 18pt;
  }
}